@media only screen and (max-width: 600px) {
    /* sidebar */
    .sidebar{
        width: 90vw;
        height: 15vw;
        right: 4.9vw;
        margin: auto;
        position: fixed;
        bottom: -140vw;
    }
    .gigalogo{
        height: 10vw;
        position: relative;
        left: 40vw;
        top: 3vw;
    }
    .lenzlogo{
        height: 8vw;
        position: relative;
        left: 13vw;
        top: 2vw;
    }
    .platform{
        content:url(../Pics/mobile.png);
        height: 5vw;
        position: relative;
        left: -25vw;
        top: 0.5vw;
    }
    .discord{
        height: 8vw;
        position: relative;
        left: 40vw;
        top: 2vw;
    }
    /* header */
    .title{
        top: 12vw;
    }
    /* main */
    .main{
        margin-top: 33vw;
    }
    .content{
        font-size: 4vw;
        width: 95%;
        padding: 2.5vw;
    }
    .contenttitle{
        font-size: 5vw;
    }
    .contentlogo{
        height: 6vw;
    }
    /* footer */
    .footertext{
        display: none;
    }
    .footer{
        height: 50vw;
    }
}